.project-logo{
  width: 100px;
}
.project-thumbnail{
  .thumbnail{
    height: 200px;
  }
  .thumbnail:hover{
    background: #EEEEEE;
    cursor: pointer;
  }
}

.task{
  border-bottom: 1px solid #DDD;
  border-radius: 10px;
  padding: 5px 10px;
}